@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(49,49,49,1);
    background-size: cover;
    box-sizing: border-box;
    font: 400 15px/1.8 "Lato", sans-serif;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(49,49,49,1);
    align-items: left;
    
    padding-right: 0px;
    padding-top: 40px;
    z-index: 1000;
    transition: 0.6s;
  }



header .icon{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 0px;
    position: absolute;

    color: rgba(243,243,171);
    display: flex;

}
header .welcome{
  margin: 0 15px;
  text-decoration: none;
  color: rgba(243,243,171);
  letter-spacing: 2px;
  font-weight: 500px;
  padding: 15px 15px;

}
header ul {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header ul li {
    list-style: none;
  }
  header ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: rgba(243,243,171);
    letter-spacing: 2px;
    font-weight: 500px;
    padding: 15px 15px;
  }
  .active-btn,
  ul li a:hover {
    background: rgb(149, 174, 175);
  }

.active-btn,
ul li a:hover {
  background: rgb(149, 174, 175);
}

.toggle{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.register{
  top: 70px;
  text-align: center;
  position: absolute;
  width: 280px;
  transition: .5s;

}

.login, .EmailConfrim{
  top: 80px;
  position: absolute;
  text-align: center;
  width: 280px;
  transition: .5s;
}


.EmailConfrim{
left: 50px;
right: 50px;
}

.EmailConfrim h1{
  border: 0px;
  background: rgba(243,243,171);
  width: 85%;
  display: block;
  position: relative;
  border-radius: 30px;
  padding: 5px 30px;
  outline: none;
  color: black;
}
.EmailConfrim input[type="text"]{
  width: 100%;
  padding: 10px 0;
  margin: 40px 0;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid black;
  background: white;
  border-radius: 25px;
  text-align: center;
  bottom:10px;
  outline: none;
  cursor: pointer;
}


.register input[type="text"],.register input[type="password"],.register input[type="email"],.login input[type="text"],.login input[type="password"]{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid black;
  background: white;
  border-radius: 25px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.register button[type="submit"],.login button[type="submit"],.EmailConfrim button[type="submit"]{
  border: 0px;
  background: rgba(243,243,171);
  width: 85%;
  display: block;
  border-radius: 30px;
  margin: 10px auto;
  padding: 10px 30px;
  outline: none;
  color: black;
}
.register h1, .login h1{
  font-size: 30px;
}

.register .forget{
  font-size: 15px;
}

#login{
  left: 50px;
}
#register{
  left: 450px;
}

.form-box{
  position: relative;
  top:150px;
  width: 380px;
  height: 480px;
  background: #C6F8FC;
  padding: 5px;
  border-radius: 30px;
  margin: 35px  auto; 
  z-index: 1000;
  overflow: hidden;
}

.button{
  width: 220px;
  margin: 35px auto;
  position: relative;
  background-color: #C6F8FC;
  box-shadow: 0 0 20px 9px #b2f3e6;
  border-radius: 30px;
}

#blk{
  top:0px;
  left:0px;
  position: absolute;
  width: 110px;
  height: 100%;
  background: rgba(243,243,171);
  border-radius: 30px;
  transition: .5s;
}


.contact table{
  margin: 50px 50px;
  font-weight: 500px;
  border-collapse: collapse;
  right: 0;
  width: 800px;
  height: 70%;
  position: absolute;
  top: 0px;
  border: 1px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  letter-spacing: 2px;
  font-size: 20px;

}
/*Contacts*/
.contact table th,
.contact table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #C6F8FC;
}

.contact table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.contact table tr:last-of-type {
  border-bottom: 2px solid #FCDEA0;
}

.contact table tr.active-row {
  font-weight: bold;
  color: #C6F8FC;
}

/*Home*/
.intro {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
  }

.empty{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
}

.picture{
  background-image: url("../pictures/Me.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index:-1;
  position:relative;
  min-height: 100%;
}

/*Rotate images*/
.main-banner{
  margin: 0 auto;
  width: 1200px;
  height: 600px;
  background-color: white;
  overflow: hidden;
  position: relative;
  z-index:999;
}

.main-banner .imgban{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-animation:all ease-in-out 500ms;
  -moz-transition:all ease-in-out 500ms;
  -o-transition:all ease-in-out 500ms;

}

.main-banner #imgban3{
  background-image: url(/pictures/VendingMachine.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban2{
  background-image: url(/pictures/car.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban1{
  background-image: url(/pictures/VendingMachine.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}