@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body,html{
    height: 100px;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(782965.png);
    background-size: cover;
    box-sizing: border-box;
}

.toggle{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.register{
  top: 70px;
  text-align: center;
  position: absolute;
  width: 280px;
  transition: .5s;

}

.login{
  top: 80px;
  position: absolute;
  text-align: center;
  width: 280px;
  transition: .5s;
}


.register input[type="text"],.register input[type="password"],.register input[type="email"],.login input[type="text"],.login input[type="password"]{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid black;
  background: white;
  border-radius: 25px;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  font-family: Poppins;
}

.register button[type="submit"],.login button[type="submit"],.EmailConfrim button[type="submit"]{
  border: 0px;
  background: rgba(243,243,171);
  width: 85%;
  display: block;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px 30px;
  outline: none;
  color: black;
  font-family: Poppins;
}
.register h1, .login h1{
  font-size: 20px;
}
.login .forget{
  font-family: Poppins;
  font-size: 15px;
}

#login{
  left: 50px;
}
#register{
  left: 450px;
}

.form-box{
  position: relative;
  top:100px;
  width: 380px;
  height: 400px;
  background: #C6F8FC;
  border-radius: 30px;
  margin: 35px  auto; 
  z-index: 1000;
  overflow: hidden;
}

.button{
  width: 220px;
  margin: 35px auto;
  position: relative;
  background-color: #C6F8FC;
  box-shadow: 0 0 20px 9px #b2f3e6;
  border-radius: 30px;
  font-size: 15px;
}

#blk{
  top:0px;
  left:0px;
  position: absolute;
  width: 110px;
  height: 100%;
  background: rgba(243,243,171);
  border-radius: 30px;
  transition: .5s;
}





