.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .arcade {
    width: 800px;
    height: 100%;
    z-index: 1;
    align-self: center;
    object-fit: cover;
  }
  .icon {
    top: 120px;
    left: 0px;
    right: 0px;
    width: 100px;
    margin: auto;
    z-index: 2;
    position: absolute;
    object-fit: cover;
  }
  .home-text{
    color:blue;
    top: 230px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 2;
    position: absolute;
    font-size: 36px;
    text-align: center;
  }
  .home-text1 {
    color: blue;
    top: 300px;
    left: 600px;
    right: 620px;
    z-index: 3;
    position: absolute;
    font-size: 20px;
    text-align: center;
  }
  .home-text2 {
    text-align: left;
  }
  .home-text3 {
    text-align: left;
  }
  .home-text4 {
    text-align: left;
  }
  .home-text5 {
    text-align: left;
  }
  .home-text6 {
    text-align: left;
  }

