
body {
    display: grid;
    place-items: center;
    height: 50vh;
}

#container {
    height: 1000px;
    width: 1000px;
    position: relative;
    display:inline-flex;
    overflow: hidden;
    margin: 0;
    z-index: 1;
}

#container img{
    height: 1000px;
    width: 1000px;
    z-index: 1;
}

#container img #logo{
    height: 70px;
    width: 70px;
    position: relative;
    z-index: 2;
}

#container img #logo img{
    height: 70px;
    width: 70px;
    z-index: 2;
}

#container img #intro{
    z-index: 2;
}

#container img #login{
    height: 25px;
    width: 65px;
    z-index: 2;
}

#container img #login img{
    height: 25px;
    width: 65px;
    z-index: 2;
}


#instagram {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 999
}  

#instagram img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999
}  
